#logo {
  width: 150;
  height: 100;
  top: 50px;
  left: 50px;
  float: left;

}

h1, h2, h3{
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
  text-align: center;
}

#aboutText {
  font-size: 80px;
  position: relative;
  text-align: center;
}

#welcometext {
  background-color: #448AC9;
  width: 110%;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  right: 10px;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#homeP {
  font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

li {
    display: inline-flex;
    float: left;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

a {
  color: black;
}
