h1, h2, h3{
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
  text-align: center;
}

#aboutText {
  font-size: 80px;
}

#welcometext {
  background-color: #448AC9;
  width: 100%;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
