h1 {
  text-align: center;
}

div {
  text-align: center;
}

#aboutText {
  font-size: 80px;
}

#welcometext {
  background-color: #448AC9;
  width: 100%;
  height: 100%;
  position: relative;
  top: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
