html,body {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}
div#welcometext {
  background-color: #448AC9;
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
  padding-left: 0px;
  padding-right: 0px;
}
#loginbut {
  background-color: silver;
  width: 20%;
  padding: 10px;
  position: relative;
  left: 900px;
  top: 220px;
  color: #448AC9;
  text-align: center;
  font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
  border-radius: 25px;
  font-size: 80px;
}
#welcome {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 100px;
  opacity: 0.7;
  position: relative;
  left: 150px;
  bottom: 130px;
}
#intromessage {
  display: inline-block;
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 35%;
  position: relative;
  left: 170px;
  bottom: 200px;
  line-height: 1.55em;
}
#aboutlink {
  font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}
a {
  color: black;
}
#logintext {
  opacity: .6;

}

li {
    display: inline-flex;
    width: 60px;
    font-size: 20px;
    left: 170;
}
