#cartText {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 100px;
  opacity: 0.7;
  bottom: 200px;
  opacity: .6;
  margin-top: 0px;
}

#cartFunction {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
  opacity: 0.7;
  bottom: 90px;
  left: 40;
  position: relative;
  left: 450px;
  opacity: .7;

}


#loginbutton {
  background-color: silver;
  width: 10%;
  padding: 10px;
  position: absolute;
  top: 5px;
  float: right;
  color: #448AC9;
  text-align: center;
  font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
  border-radius: 25px;
  font-size: 30px;
}



#emptylist {
  background-color: grey;
  padding: 90px;


  border-radius: 25px;


}

#textlist{

  display: table-cell;
  vertical-align:top;
  text-align: center;
  width: 60px;
  height: 50px;
}


#fulllist {
  background-color: grey;
  padding: 110px;



  border-radius: 25px;


}

.fade
{
        opacity:0.8;
}
.fade:hover
{
        opacity:1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
#usercheck {
    font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 1000px;
}

#logo {
  width: 150;
  height: 100;
  top: 50px;
  left: 50px;
  float: left;

}
