.header {
  opacity: .7;
  font-size: 30px;
  text-align: center;
}
#newitem {
  font-size: 20px;
  position: center;
  top: 10px;
  Right: 30px;
}
#itemsub {
  position: relative;
  top: 20px;
}

li a{
    display: inline-flex;
    float: left;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    color: black;
}

#welcometext {
  background-color: #448AC9;
  height: 100%;
  position: relative;
  top: 100px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;

}

#aboutlink {
  font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

#logo {
  width: 150;
  height: 100;
  top: 50px;
  left: 50px;
  float: left;

}


h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.listurl {
  color: white;
  position: relative;
  right: 90px;

}
.tabh  {
  position: relative;
  left: 160px;
}
#quant {
  position: relative;
  left: 150px;
}
.tabd {
  position: relative;
  left: 160px;
}
.tbdq {
  position: relative;
  left: 130px;
}
.quant {
  position: relative;
  left: 110px;

}
.tbpr {
  position: relative;
  right: -70px;
}
.tabr {
  position: relative;
  right: -70px;
}
.checked {
  position: relative;
  left: 50px;

}
.check {
  position: relative;
  left: 100px;

}
.taburl {
  position: relative;
  left: 200px;

}
