<html>

<head>
  <title> About </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--  <link rel="StyleSheet" href="/resources/mainPage.css"> </link> -->
  <link rel="StyleSheet" href="/resources/aboutPage.css"> </link>
  <link rel="StyleSheet" href="/resources/userPage.css"> </link>
</head>
  <img id = "logo" a src= "/resources/unikart.png">
<body>
  <h1 id="aboutText">About</h1>
    <div id="welcometext">
    <h2>Mission</h2>
    <!-- Mission Statement -->
    <p>The mission of this website is to provide an easy way for online shoppers to keep all of their items in one place.</p>
    <p>If you shop using more than just one website and don't want to have to bookmark every page, then this is the website for you</p>
    </br>
    <h3>Here is an example list that you can make</h3>
    <img src="https://usercontent1.hubstatic.com/4450412_f520.jpg">
    </br>
    </br>
    <h2>About the Creators<h2>
        <!-- Kevin's bio -->
        <h3>Kevin Taha</h3>
          <p> I will be attending the Honor's College at Purdue University this fall, studying Computer Science </p>
          <p> Hobbies/Interests </p>
        <!-- Anthony bio -->
        <h3>Anthony Beltran</h3>
          <p> College/major </p>
          <p> Hobbies/Interests</p>
        <!-- Luke's bio -->
        <h3>Luke Dickeson</h3>
          <p>In the fall of 2017, I will be attending the University of Nebraska in Omaha for Cybersecurity.</p>
          <p>In addition to coding, I have been playing violin for 14 years and hope to contiue for a long time! </p>
        </br>
    </div>
  </body>
</html>
