<html>
  <head>
    <title> About </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel = "StyleSheet" href = "/resources/mainPage.css"> </link>
  </head>
  <body>
    <ul>
      <!-- Mission Statement -->
      <h3>Mission</h3>
        <li><p>The mission of this website is to provide an easy way for online shoppers to keep all of their items in one place.</p></li>
        <li><p>If you shop using more than just one website and don't want to have to bookmark every page, then this is the website for you</p></li>
    </ul>
    
    <ul>
      <!-- Kevin's bio -->
      <h3>Kevin Taha</h3>
        <li><p> <!-- College/Major -->   </p></li>
        <li><p> <!-- Hobbies/Interests -->  </p></li>
      <!-- Anthony bio -->
      <h3>Anthony Beltran</h3>
        <li><p> <!-- College/major -->  </p></li>
        <li><p> <!-- Hobbies/Interests-->  </p></li>
      <!-- Luke's bio -->
      <h3>Luke Dickeson</h3>
        <li><p>In the fall of 2017, I will be attending the University of Nebraska in Omaha for Cybersecurity.</p></li>
        <li><p>In addition to coding, I have been playing violin for 14 years and hope to contiue for a long time! </p></li>
    </ul>
  </body>
</html>
