<html>
  <head>
    <title> About </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel = "StyleSheet" href = "/resources/mainPage.css"> </link>
  </head>
  <body>
    <ul>
      <!-- Kevin's bio -->
      <h3>Kevin Taha</h3>
        <li><p> <!-- College/Major -->   </p></li>
        <li><p> <!-- Hobbies/Interests -->  </p></li>
      <!-- Anthony bio -->
      <h3>Anthony Beltran</h3>
        <li><p> <!-- College/major -->  </p></li>
        <li><p> <!-- Hobbies/Interests-->  </p></li>
      <!-- Luke's bio -->
      <h3>Luke Dickeson</h3>
        <li><p>  <!-- College/Major -->  </p></li>
        <li><p>  <!-- Hobbies/Interests -->  </p></li>
    </ul>
  </body>
</html>
