<head>
  <title> UniCart </title>
  </script>
  <link rel="StyleSheet" href="/resources/listPage.css"> </link>
</head>
<a href = "/"> &nbsp;
  <img id = "logo" src= "/resources/unikart.png">
</a>

<body>
  <a href="about">
    <div #infobutton>
      <p id="aboutlink"> Info </p>
    </div>
  </a>

  <div id="welcometext">
    <br>
    <div class="form-style-5">
      <form>
        <fieldset>
          <legend><span class="number">1</span> New Cart </legend>
          <input type="text" name="cartname" placeholder="Cart Name">
          <input type="number" name="budget" placeholder="Cart Budget (Optional)">
          <textarea name="desc" placeholder="Cart Description (Optional)"></textarea>
        <input type="submit" value="Create New Cart"/>
      </form>
    </div>
  </div>

</body>

</html>
