<head>
  <title> UniCart </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/mainPage.js">
  </script>
  <link rel="StyleSheet" href="/resources/mainPage.css"> </link>
  <link rel="StyleSheet" href="/resources/listPage.css"> </link>
</head>

<body>
  <a href="about">
    <div #infobutton>
      <p id="aboutlink"> Info </p>
    </div>
  </a>
  <div id="welcometext">
    <div class="form-style-5">
      <form>
        <fieldset>
          <legend><span class="number">1</span> New Cart </legend>
          <input type="text" name="cartname" placeholder="Cart Name">
          <input type="number" name="budget" placeholder="Cart Budget (Optional)">
          <textarea name="desc" placeholder="Cart Description (Optional)"></textarea>
        <input type="submit" value="Apply" />
      </form>
    </div>
  </div>

</body>

</html>
