<html>

<head>
  <title> UniCart </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/mainPage.js">
  </script>
  <link rel="StyleSheet" href="/resources/mainPage.css"> </link>

</head>
<img id="logo" a src="/resources/unikart.png">
<br>

<body>
  <a href="about">
    <div id="infobutton">
      <p id="aboutlink"> Info </p>
    </div>
  </a>
  <div id="welcometext">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="userPage">Your Carts</a></li>
      <li><a href="about">About</a></li>
    </ul>
    <h1 id="loginbut"> <a id = "logintext" style="text-decoration:none;" href = "login"> Login </a></h1>
    <h1 id="welcome"> Welcome </h1>
    <p id="intromessage"> UniKart makes shopping online easier! For long term purchases, this tool will keep track of all your saved items and allows you tag your items to filter out what you want to see</p>

  </div>

</body>

</html>
