<html>

<head>
  <title> UniCart </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/mainPage.js">
  </script>
  <link rel="StyleSheet" href="/resources/mainPage.css"> </link>
</head>

<body>
  <a href="about">
    <div #infobutton>
      <p id="aboutlink"> Info </p>
    </div>
  </a>
    <div id = "welcometext">
      <h1 id = "loginbutton"> <a id = "logintext" style="text-decoration:none;" href = "login"> Login </a></h1>
      <h1 id = "welcome"> Welcome </h1>
      <p id = "intromessage"> UniKart makes shopping online easier! For long term purchases, this tool will keep track of all your saved items and allows you tag your items to filter out what you want to see</p>

  </div>

</body>

</html>
