<html>
  <head>
    <title> UniCart </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "/resources/mainPage.js"> </script>
    <script src = "/resources/userPage.js"> </script>
    <link rel = "StyleSheet" href = "/resources/mainPage.css"> </link>
    <link rel = "StyleSheet" href = "/resources/userPage.css"> </link>
  </head>
  <a href = "/"> &nbsp;
    <img id = "logo" src= "/resources/unikart.png">
  </a>

  <body>
  <p id = "usercheck"> Hello {{ username }} </p>
  <h1 id = "aboutlink"> <a style="text-decoration:none;" href = "login"> Logout </a></h1>
    <div id = "welcometext">
      <p id ="cartText"> My Carts </p>
      <p id = "cartFunction"> Here you can view your carts. </p>

<a href = "lists">
<div class = "fade" id = "emptylist">
 <img src="/resources/plus.png" width="100" height="100"> </p>
</div>
</a>
<br>
<div class = "fade" id = "fulllist">
<p id = "textlist"> {{cartname}} </p>
</div>


  </body>
</html>
