<head>
  <title> UniCart </title>
  </script>
  <link rel="StyleSheet" href="/resources/view.css"> </link>
  <link rel="StyleSheet" href = "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"> </link>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src = "view.js"> </script>
</head>
<a href="/"> &nbsp;
  <img id = "logo" src= "/resources/unikart.png">
</a>

<body>
  <a href="about">
    <div #infobutton>
      <p id="aboutlink"> Info </p>
    </div>
  </a>
  <div id="welcometext">
    <div class="header">
  <p> Click on the button start adding new cart items</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add Item</button>
  <div id="demo" class="collapse">
    <form id = "newitem">
      Tag: <select name = "tag">
        <option value = "electronics"> Electronics </option>
        <option value = "furniture"> Furniture </option>
        <option value = "clothing"> Clothing </option>
        <option value = "entertainment"> Entertainment </option>
        <option value = "hgt"> Home, Garden, and Tools </option>
        <option value = "grocery"> Groceries </option>
        <option value ="kids"> Toys and Kids </option>
        <option value = "health"> Health </option>
        <option value = "other"> Other </option>
      </select>
      Name:<input type = "text" name = "name"/>
      Price:  <input type = "number"  name = "price" style = "width: 80px;"/>
      URL:  <input type = "text" name = "url" class = "required"/>
      Quantity:  <input type = "number" name = "quantity" style = "width: 40px;" value = "1"/>
    Priority: <select name = "priority" style = "width: 110px;">
      <option value = "nothing"></option>
      <option value = "need"> I need it </option>
      <option value = "between"> I might need it</option>
      <option value = "want"> I want it </option>
    </select>
      <input type = "hidden" name = "cart"/>
    </br>
      <input id = "itemsub" type = "submit" value = "Add Item" />
    </form>
  </div>
  <br/>
  <h2> Your Cart </h2>

</div>

    </body>

      </html>
